<p><%= @lesson.name %></p>
<p><%= @lesson.source_url %></p>
<p><%= @lesson.duration %></p>
<p><%= @lesson.author %></p>
<p><%= @lesson.lesson_type %></p>


<%= link_to 'Voltar para home', lessons_path %>
